* {
    margin: 0;
    padding: 0;
}

img {
    max-inline-size: 100%;
}

html, body {
    min-height: 100vh;
    width: 100%;
    background-color: #f1eee6;
    overflow-x: hidden;

}


#navigation-bar {
    background-color: #293F61;
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
}

.nav-mobile-home {
    position: absolute;
    z-index: 1;
    height: 375px;
    width: 80%;
    background-color: #172437fa;
}

#home-pos {
    position: absolute;
    height: 75vh;
}

#home-link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 1%;
}

#home-link > a {
    /* color: whitesmoke; */
    border-width: 1px 0px 1px 0px;
    border-style: solid;
    padding: 7px;
    
    /* "Rechtdeurzee" logo/keyword for going back to the home page */
}

#nav-items {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    padding-right: 5px;
    color: whitesmoke;
}

.nav-item {
    font-size: 1.5em;
}

.nav-item:hover {
    color: #756F61;
}



#cta {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.1%;
    margin-right: 0.5%;
    background-color: #EDB11A;
    color: white;
    border-radius: 3px;
    height: 40px;
    width: 80px;
}

.agenda {
    font-size: 1.6em;
}

.nav-link {
    text-decoration: none;
    color: #F0F0F0;

}

#repertoire-nav {
    border-width: 0px 1px 0px 1px;
    border-style: solid;
    padding: 0px 15px 0px 15px;
}

/* Intro section */

#hero-section {
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(27, 26, 26, 0.85), rgb(27, 26, 26, 0.85)), url("./images/IMG-20220423-WA0009\ \(3\).jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    /* flex-direction: column; */
    justify-content: space-around;


}


.hero-titel {
    color: white;
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3.5em;
    text-align: center;


}

#choir-name {
    color: #486CCF;
    font-family: "Lobster", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.6em;

}

#about-section {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto auto auto;
    width: 100%;
    min-height: 100vh;
    gap: 80px;
}

#about-titel {
    display: flex;
    justify-content: center;
    /* align-items: end; */
    margin-top: 10%;
    margin-bottom: 2%;
    /* height: fit-content; */
}


#about-titel > h1 {
    color: black;
    font-family: "Special Gothic Expanded One", sans-serif;
    border-bottom: 2px solid rgba(0, 0, 0, 0.377);
    padding: 0px 30px 5px 30px;
    height: fit-content;
    text-align: center;
    font-size: 2.5em;
}

#startOfChoir {
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 2;
    display: flex;
    justify-content: center;
    width: 100%;
    height: fit-content;
    align-items: flex-start;
    gap: 30px;
}

#name-item {
    font-weight: bold;
}

.aboutUsText {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 10px;
    flex: 0 1 50%;

}

#start-up-img {
    flex: 0 0 50%
}

#start-up-img > img {
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

#practice {
    grid-row-start: 3;
    grid-column-end: 7;
    grid-column-start: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

#practice-text {
    order: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-items: center; */
    gap: 10px;
    flex: 0 0 50%;
}

.title-item {
    font-family: "Funnel Sans", sans-serif;
    font-weight:bolder;
    border-bottom: 1px solid #22222234;
    font-size: 1.4em;
}

.paragraph-item {
    font-family: "Funnel Sans", sans-serif;
    /* font-optical-sizing: auto; */
    font-weight: lighter;
    font-style: normal;
    font-size: 1.05em;
}

#practice-img {
    order: 1;
    flex: 0 0 50%;

}

#practice-img > img {
    border-radius: 20px;
    height: 100%;
    width: 100%;
    
}

#agenda-link {
    text-decoration: none;
    color: #486CCF;
}

#agenda-link :hover{
    color: #203877;
    text-decoration: underline;
}


#musicians {
    grid-row-start: 4;
    grid-column-start: 1;
    grid-column-end: 8;
    background-color: #A38436;
    /* padding-top: 10px; */
    height: 122%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
   --mask:
    radial-gradient(93.91px at 50% 126px,#000 99%,#0000 101%) calc(50% - 84px) 0/168px 51% repeat-x,
    radial-gradient(93.91px at 50% -84px,#0000 99%,#000 101%) 50% 42px/168px calc(51% - 42px) repeat-x,
    radial-gradient(93.91px at 50% calc(100% - 126px),#000 99%,#0000 101%) calc(50% - 84px) 100%/168px 51% repeat-x,
    radial-gradient(93.91px at 50% calc(100% + 84px),#0000 99%,#000 101%) 50% calc(100% - 42px)/168px calc(51% - 42px) repeat-x;
  -webkit-mask: var(--mask);
          mask: var(--mask);

}

.arrows {
    grid-row-start: 4;
    grid-column-start: 1;
    grid-column-end: 8;    
    z-index: 1;
    height: 122%;
    display: none;
    align-items: center;
    justify-content: space-between;
    padding: 0px 5px 0px 5px;
}

.arrow {
    background-color: rgba(255, 255, 255, 0.447);
    /* background-color: rgba(128, 128, 128, 0.434); */

    border-style: none;
    height: fit-content;
    border-radius: 10px;
    /* position: absolute; */
}

.arrow > img {
    height: 40px;
}

#musicians-item {
    align-self: center;
    color: rgb(24, 24, 24);
    font-family: "Lobster", sans-serif;
    font-style: normal;
    font-size: 1.6rem;
    /* border-bottom: solid black; */

}

#musician-images {
    border-radius: 10%;
    
    display: flex; 
    justify-content:center;
    gap: 2.5%;
    height: fit-content;
    flex-wrap: wrap;
    min-width: 100%;
    z-index: 0;
    /* transform: translateZ(0); */
    /* height: 100%; */
}

#musician-images > div { 
    flex: 0 1 14%;
    max-height: 78%; 
 
}



.img-item-1 {
    height: 100%;
    width: 100%;
    border: 8px double black;
    border-top-left-radius: 175px 25px;
	border-top-right-radius: 15px 125px;
	border-bottom-right-radius: 150px 20px;
	border-bottom-left-radius: 15px 175px;
}

.img-item-2 {
    height: 100%;
    width: 100%;
    border: 8px double black;
    border-top-left-radius: 15px 125px;
	border-top-right-radius: 175px 25px;
	border-bottom-right-radius: 15px 175px;
	border-bottom-left-radius: 150px 20px;
}


#dirigent {
    grid-row-start: 6;
    grid-column-start: 2;
    grid-column-end: 7;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

#dirigent-img-item {
    flex: 0 0 42%;
}

#dirigent-img-item > img {
    border-radius: 10%;
    height: 90%;
}

#dirigent-text-item {
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 0 0 50%;

}

/* #agenda-sponsors {
    grid-row-start: 6;
    grid-column-start: 1;
    grid-column-end: 7;
    display: flex;
    justify-content: center;


} */

 .footer {
    height: 70%;
    background-color: #293F61;
    color: #ccc;
    padding: 50px 20px;
    font-family: Arial, sans-serif;
    grid-row-start: 8;
    grid-column-start: 1;
    grid-column-end: 8;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

  .footer-container {
    display: flex;
    justify-content: flex-start;
    gap: 50px;
    width: 45%;
  }

  .footer h3 {
    color: white;
    font-size: 18px;
    margin-bottom: 15px;
  }

  .footer-nav ul {
    list-style: none;
  }

  .footer-nav li {
    margin-bottom: 8px;
  }

  .footer-nav a {
    color: #ccc;
    text-decoration: none;
    transition: color 0.2s;
  }

  .footer-nav a:hover {
    color: #fff;
  }

  .footer-cta a {
    color: #4da6ff;
    text-decoration: none;
  }

  .footer-cta a:hover {
    text-decoration: underline;
  }

.footer-copy {
    text-align: center;
    font-size: 12px;
    color: #888;
    /* align-self: flex-end; */
  }

.logo-slider {
  overflow: hidden;
  display: flex;
  gap: 50px;
  flex-direction: column;
  justify-content: flex-end;
  height: 200px;
  min-width: 100%;
  background: white;
  border-top: 2px solid #293F61;
  border-bottom: 2px solid rgba(128, 128, 128, 0.881);
  grid-row-start: 7;
  grid-column-start: 1;
  grid-column-end: 8;
  /* margin-bottom: -80px; */
}

.slider-title {
    color: #486CCF;
    font-family: "Lobster", sans-serif;
    font-style: normal;
    font-size: 1.2em;
    font-weight: 300;
}

.logo-slider > h3 {
    width: 28%;
    text-align: center;
    font-family: "Cabin", sans-serif;
    font-style:italic;
    font-size: 1.1em;
    font-weight: 200;
    align-self: center;
    background-color: #a3843688;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 2px 0px 2px 0px;
    order: 1;
}

.logo-track {
    height: 70px;
  display: flex;
  gap: 50px;
  align-items: center;
  animation: scroll 50s linear infinite;
  order: 0;
}

.logo-item {
  flex: 0 0 130px;
}

.logo-item > img {
    transition: transform 0.3s ease;
    border-radius: 5px;
    height: 90%;

}

#vandersluis {
    height: 80px;
    width: 135px;
}


.logo-item > img:hover {
  transform: scale(1.2);
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-300%);
  }
}

.NavColor {
    color: #b59c69;
    font-style: bold;
}

.agendaColor {
    color: #293F61;
    font-style: bolder;
}

 @media (min-width: 320px) and (max-width: 500px) {

    #hero-section {
        height: 75vh;
        background-size: cover;
        background-position: center bottom;
        /* justify-content: flex-st; */
    }

    #navigation-bar {
        height: 40px;
        font-size: 9px;
    }

    #cta {
        height: 65%;
        width: 60px;
        margin-right: 1%;
    }

    .hero-titel {
        /* margin-top: 7%; */
    }

    #about-section {
        gap: 50px;
        grid-template-columns: auto auto auto auto auto;
    }

    #about-titel {
        grid-column-start: 1;
        grid-column-end: 6;
        order: 0;
        margin-bottom: 5%;
        margin-top: 5vh;
    }

    #introTitle {
       color: #486CCF;
    }

    #about-titel > h1 {
        margin-top: 0%;
        font-size: 1.5em;
        border-bottom: none;
        /* border-left: 2px solid rgba(0, 0, 0, 0.765);
        border-right: 2px solid rgba(0, 0, 0, 0.765); */


         /* margin-top: 20%; */

        padding: 3px 3px 3px 3px;
    }

    #start-up-img {
        width: 90%;
    }

    #startOfChoir {
        /* margin-top: 5vh; */
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 2;
        gap: 20px;

        flex-direction: column;
        align-items: center;
        width: 100%;
        /* margin-top: -10%; */

    }

    .aboutUsText {
        align-items: center;
        width: 90%;

    }

    .title-item {
        text-align: center;
        font-size: 1.2em;
        width: 100%;
        font-weight: bold;
    }

    .paragraph-item {
        /* text-align: center; */
        font-size: 0.9em;
    }

    #practice {
        grid-column-start: 1;
        grid-column-end: 6;
        flex-direction: column;
        width: 100%;
        gap: 20px;
    }

    #practice-img {
        width: 90%;
        flex: 0 0 40%;
    }

    #practice-text {
        order: 0;
        width: 90%;
    }

    .hero-titel {
        font-size: 2em;
    }

    .agenda {
        font-size: 1.3em;
    }

   #musicians {
    grid-column-end: 6;
    justify-content: center;
    height: 475px;
    /* max-height: 100vh; */
    max-width: initial;
    width: 100%;
    overflow: hidden;
    gap: 15px;
   }

    #musician-images {
    flex-wrap: nowrap;
    /* position: relative; */
    margin-left: 20%;
    /* bottom: 10%; */
    height: 48%;
    /* max-width: 120%; */
    justify-content: flex-start;
    transition: transform 1s ease;
    gap: 30px;

   }

   #musician-images > div { 
    flex: 0 0 0;
    max-height: initial;
    aspect-ratio: 2/3;
    height: 100%;
    /* max-width: 100%; */
    /* width: 20%; */
    /* max-height: 100%; */
   
 
    }

    #musicians-item {
        margin-top: -5%;
        font-size: 1.25em;
   }

   .transition {
    /* transition: transform 1s ease; */
}
    

    .arrows {
        margin-top: 12%;
        grid-column-end: 6;
        display: flex;
        height: 100%;
    }

   #dirigent {
    grid-column-start: 1;
    /* grid-row-start: 5; */
    grid-column-end: 6;
    flex-direction: column;
    width: 100%;
    gap: 20px;
   }

   #dirigent-text-item {
    width: 90%;
   }

   .footer {
    margin-top: -50px;
    min-height: fit-content;
    grid-column-start: 1;
    grid-column-end: 6;
    justify-content: space-between;
    padding: 40px 20px 10px 20px;
    gap: 20px;
   }
   
   .footer h3 {
    font-size: 12px;
   }

   .logo-slider {
    grid-column-start: 1;
    grid-column-end: 6;
    height: 150px;
    gap: 18px;
   }

   .logo-slider > h3 {
    width: 60%;
    font-size: 0.75em;
   }

   .logo-track {
    height: 70px;
    display: flex;
    gap: 35px;
    align-items: center;
    animation: scroll 20s linear infinite;
    order: 0;
}

    .logo-item {
  flex: 0 0 100px;
}

    .apTrans {
        flex: 0 0 90px;
    }

    .eyes4 {
        aspect-ratio: 3/1;
        flex: 0 0 120px;
    }

    .grandcafe {
        flex: 0 0 120px;
        height: 70px;
    }


   .logo-item > img {
        transition: transform 0.3s ease;
        border-radius: 5px;
        height: 100%;
        width: 100%;
        aspect-ratio: 2/1;

    }

    .footer-copy {
        font-size: 10px;
    }
   
  

 

    

 







 }


@media (min-width: 768px) and (max-width: 900px) {
    #navigation-bar {
        height: 50px;
    }

    .nav-item {
        font-size: 1.3em;
    }

    #cta {
        height: 32px;

    }

    .hero-titel {
        font-size: 2.75em;

    }

    #choir-name {
        font-size: 1.5em;
    }

    #about-titel > h1 {
        font-size: 2em;
    }

    .aboutUsText {
        flex: 0 1 45%;
    }

    #start-up-img {
        flex: 0 0 40%
    }

    #startOfChoir {
        width: 100%;
        grid-column-start: 1;
        grid-column-end: 8;
    }

    .paragraph-item {
        font-size: 0.8em;
    }

    .title-item {
        font-size: 1.2em;
    }

    #practice {
        grid-column-start: 1;
        grid-column-end: 8;
    }

    #practice-img {
        order: 1;
        flex: 0 0 40%;
    }

    #practice-text {
        flex: 0 0 45%;
    }

    #musicians {
        /* gap: 15px; */
    }

    #musicians-item {
        font-size: 1.2em;
        margin-top: 10px;
    }

    #musician-images {
        /* flex-wrap: wrap; */
        gap: 3%;
    }

    #musician-images > div {
        flex: 0 1 13.5%;
    }

    .img-item-1 {
        border: 7px double black;
    }

    .img-item-2 {
        border: 7px double black;

    }

    #dirigent {
        grid-row-start: 5;
        margin-top: 5%;
    }

    #dirigent-img-item {
        flex: 0 0 50%;
    }

    .logo-slider {
        height: 170px;
        gap: 30px;
    }

    .logo-item {
        flex: 0 0 110px;
 
    }

    .logo-slider > h3 {
        width: 35%;
    }

    .slider-title {
        font-size: 1em;
    }

    .footer-container {
        width: 55%;
    }

    .footer-nav a {
        font-size: 11px;
    }












}

@media (min-width:901px ) and ( max-width: 1150px) {
    .paragraph-item {
        font-size: 0.95em;
    }

    .title-item {
        font-size: 1.25em;
    }

    #start-up-img {
        flex: 0 0 52%
    }

    #practice-img {
        order: 1;
        flex: 0 0 52%;
    }
}











@media (min-width: 2100px) {


     .hero-titel {
        font-size: 5em;
        margin-top: 5%;
    }

    #choir-name {
        font-size: 1.7em;
    }

    #about-titel > h1 {
        font-size: 3.5em;
    }

     #start-up-img {
        flex: 1 1 30%;
    }

    .aboutUsText {
        flex: 1 1 45%;
    }

    .paragraph-item {
        font-size: 1.7em;
    }

    .title-item {
        font-size: 1.9em;
    }

    #practice-img {
        flex: 1 1 30%;

    }

    #practice-text {
        flex: 1 1 45%;
    }

    #musicians {
        height: 675px;
        gap: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* gap: px; */
    }

    #musician-images > img { 
        width: 240px;
        height: 370px;
    }

    .img-item-1 {
        border: 10px double black;
        border-top-left-radius: 175px 25px;
        border-top-right-radius: 15px 125px;
        border-bottom-right-radius: 150px 20px;
        border-bottom-left-radius: 15px 175px;
    }

    .img-item-2 {
        border: 10 px double black;
        border-top-left-radius: 15px 125px;
        border-top-right-radius: 175px 25px;
        border-bottom-right-radius: 15px 175px;
        border-bottom-left-radius: 150px 20px;
    }

    #musician-images {
        gap: 40px;
    }

    #musicians-item {
        align-self: center;
        color: rgb(24, 24, 24);
        font-family: "Lobster", sans-serif;
        font-style: normal;
        font-size: 1.8rem;



    }

} 



